.card{
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 700px) {
    .card{
        width: 300px;
    }
}
.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10vh;
    min-height: auto;
    padding-bottom: 30px;
}

img{
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 5px;
}
@media screen and (max-width: 1300px){
    .grid{
        grid-template-columns: auto;
    }
}
.h-3{
    text-align: center;
}

.div{
    display: grid;
    grid-template-columns: 200px 200px;
    justify-content: center;
    align-items: center;
    position: relative;
    column-gap: 20px;
}
.div3{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border-top-left-radius: 200px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(116, 148, 140, 0.408);
    box-shadow: 0 8px 32px 0 rgba( 87, 128, 136, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    transition: 1s;
}
.div4{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border-top-right-radius: 200px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba( 202, 237, 184, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 86, 105, 79, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    transition: 1s;
}
.div5{
    height: 200px;
    width: 200px;
    position: absolute;
    top: 220px;
    border-radius: 10px;
    border-bottom-left-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba( 104, 125, 49, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 25, 53, 12, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    transition: 1s;

}
.div6{
    height: 200px;
    width: 200px;
    position: absolute;
    top: 220px;
    border-radius: 10px;
    border-bottom-right-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba( 179, 217, 224, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 146, 173, 164, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: 1s;
}
.div4:hover, .div5:hover, .div6:hover, .div3:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.div3:hover, .div4:hover, .div5:hover, .div6:hover{
    color: whitesmoke;
}
.div3:hover{
    background-color: rgb(128, 186, 177);
}
.div4:hover{
    background-color: rgb(99, 136, 114);
}
.div5:hover{
    background-color: rgb(195, 200, 140);
}
.div6:hover{
    background-color: rgb(44, 172, 173);
}
.div2{
    display: flex;
    flex-direction: column;
}
.footer{
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: rgb(229, 209, 164);
    height: 500px;
}
.divx2{
    flex: 1;
    padding: 16px;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-us, .opinions{
    text-align: center;
    font-size: 20px;
}
.divx1{
    flex: 1;
    padding: 16px;
}
hr{
    width: 100%;
    border: 0.5px black dashed;
}
@media screen and (max-width: 986px){
    .footer{
        flex-direction: column;
        height: 600px !important;
    }
    .div3, .div4, .div5, .div6{
        width: 150px;
        height: 150px;
    }
    .div{
        grid-template-columns: 150px 100px;
        gap: 15px;
    }
    .div5, .div6{
        top: 170px;
    }
}
#about{
    width: 100%;
    height: 50vh;
    background-color: rgb(182, 75, 18);
}
#use{
    width: 100%;
    height: 50vh;
    background-color: rgb(206, 121, 58);
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
    color: black;
}
.flex{
    display: flex;
    gap: none;
    flex-direction: column;
    width: 100%;
}
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
}
@media screen and (max-width: 986px){
    #cards{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }
}