.card{
    /* From https://css.glass */
    background: rgba(255, 238, 0, 0.2);
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 238, 0, 0.3);
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 3px #ffe100 solid;
}

.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
img{
    width: 80px;
    height: 80px;
    border-radius: 5px;
    border: #ffe100 solid 2px;
}