.card{
    background: rgba(213, 186, 156, 0.2);
    border: 1px solid rgba(255, 238, 0, 0.3);
    border-top: 3px #A1704B solid;
}

img{
    border: #DF804D solid 2px;
}
body{
    background-color: rgb(107, 80, 30);
}