.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-bottom: purple 2px solid;
    gap: 20px;
    z-index: 40;
}
.navbar-content{
    font-size: 14px;
    color: gray;
    flex: auto;
    text-align: center;
}
@media  screen and (min-width: 986px) {
    .navbar{
        width: 70px;
        height: 100vh;
        border-bottom: none;
        border-right: purple 2px solid;
        flex-direction: column;
        padding: 4px;
    }
    .navb{
        rotate: -90deg;
    }
    .navbar-content{
        font-size: 24px;
    }
}
.main{
    font-family: monospace;
}
.logo{
    width: 50px;
    height: 50px;
}
.logo-img{
    width: 48px;
    height: 50px;
    border: 2px gray solid;
    margin-left: 4px;
}